[Unit]
Description=Publish collected WASH laundry observations every hour

[Timer]
OnCalendar=*-*-* *:00:30
AccuracySec=1s
Persistent=true
Unit=laundry-publisher.service

[Install]
WantedBy=timers.target
